{% extends 'blog/basic.html' %}

{% block seo %}
    <title>{{data.heading}}</title>
    <meta name="title" content="{{data.heading}}">
    <meta name="description" content="{{data.seo_description}}">
    <meta name="robots" content="{{data.seo_robot}}">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.get_host }}/blog/post/{{ data.slug }}">
    <meta property="og:title" content="{{data.heading}}">
    <meta property="og:description" content="{{data.seo_description}}">
    <meta property="og:image" content="{{ request.get_host }}/media/{{data.thumbail}}">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ request.get_host }}/blog/post/{{ data.slug }}">
    <meta property="twitter:title" content="{{data.heading}}">
    <meta property="twitter:description" content="{{data.seo_description}}">
    <meta property="twitter:image" content="{{ request.get_host }}/media/{{data.thumbail}}">
{% endblock %}


{% block header %}
<!-- Page Header -->
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1 style="text-transform: capitalize">{% block heading %}{{data.heading}}{% endblock %}</h1>
                    <span class="meta">Posted by
                        <a href="#">{{data.author}}</a>
                        at {{data.published_date}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <a href="/media/{{data.thumbail}}/"><img width="98%" class="thumbail" src="/media/{{data.thumbail}}/" title="{{data.heading}}" alt="{{data.heading}}" /></a>
                {{data.body | safe | linebreaks}}
            </div>
        </div>
    </div>
</article>
{% endblock %}
